<%= link_to span_tag('Create New Snippet'), new_jangle_snippet_path, :class => 'big button' %>
<h1>Snippets</h1>

<ul class='list'>
  <% @jangle_snippets.each do |jangle_snippet| %>
    <li id='jangle_snippet_<%= jangle_snippet.id %>'>
      <div class='item'>
        <div class='icon'></div>
        <div class='action_links'>
          <%= link_to 'Edit', edit_jangle_snippet_path(jangle_snippet) %>
          <%= link_to 'Delete', jangle_snippet_path(jangle_snippet), :method => :delete, :confirm => 'Are you sure?' %>
        </div>
        <div class='label'>
          <%= link_to jangle_snippet.label, edit_jangle_snippet_path(jangle_snippet) %>
          <div class='sublabel'>
            <%= link_to jangle_snippet.slug, edit_jangle_snippet_path(jangle_snippet) %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>